.magnets {
    background-size: cover;


    .ui {
        position: absolute;
    }

    .explain {
            bottom: 100px;
            left: 20px;
            font-size: 2em;
            width: 40%;
    }

    .create {
            bottom: 100px;
            right: 20px;
    }
}