<footer class="navbar navbar-default navbar-inverse">
    <p>
        Developed during the 2015 InterDocs BCN Popathon by
        <a href="https://twitter.com/anoulajan" target="_blank">Anna Giralt Gris</a>,
        <a href="https://twitter.com/rdidrobo" target="_blank">Rubén Idrobo</a>,
        <a href="https://twitter.com/juanlesta" target="_blank">Juan Lesta</a>,
        <a href="https://twitter.com/jorgemirelese" target="_blank">Jorge Mireles</a>,
        <a href="https://twitter.com/valentinamoreno" target="_blank">Valentina Moreno</a>,
        <a href="https://twitter.com/ariadnarmasia" target="_blank">Ariadna Rodríguez Masià</a>,
        <a href="https://twitter.com/aybialetti" target="_blank">Mario Trigo</a> and
        <a href="https://twitter.com/bertez" target="_blank">Berto Yañez</a>.
        <a href="https://github.com/bertez/paraules-de-barcelona" target="_blank">Source code</a> available on Github.
    </p>
</footer>
