<audio src="/media/paraules_mixdown.mp3" autoplay autobuffer autoloop loop></audio>

<section class="panel intro ui-start">
    <video autobuffer autoplay loop>
        <source src="/media/paraulas.mp4" type="video/mp4">
        <source src="/media/paraulas.webm" type="video/webm">
    </video>

    <button class="next">
    >
    </button>
</section>

<section class="panel intro ui-intro is-hidden">
    <div class="txt howto">
        <p>We see them everyday, all the time: on the fronts of buildings, on shop signs, on old torn posters, on the warnings of authority. The skin of a city is tattooed with words.</p>

        <p>Paraules de Barcelona offers you a way to celebrate, criticise, share or remember this unique city using its own words, those you’d find walking down its streets.</p>

        <p>You’ll be shown 30 random images of Barcelona and you can choose the ones you like. Each image will translate into a word. From then on, it’s up to your creativity. Enjoy!</p>
    </div>

    <div class="txt quotes">
        <span>
            Barcelona, the treasure-house of courtesy, haven of strangers, asylum of the poor, home of the valiant, champion of the wronged, pleasant exchange of firm friendships, and city unrivalled in site and beauty. <br/><br/>

            - Miguel de Cervantes
        </span>
        <span>
            Barcelona, for instance, is not Catalonia. And neither is it Spain. In this sense, Barcelona is the weirdest thing to have ever been built down here. <br/><br/>

            - Guillem Martínez
        </span>
        <span>
            Sometimes, an old and unique city, such as Barcelona, ends up being generic because it simplifies its identity too much. It becomes transparent, like a logo. <br/><br/>

            - Rem Koolhaas
        </span>
        <span>
            Barcelooooonaaaaaaaaa! <br/><br/>

            - Freddy Mercury and Montserrat Caballé
        </span>

        <span>
            The worst of being wanted by the police in a town like Barcelona is that everything opens so late. When you sleep out of doors you always wake about dawn, and none of the Barcelona cafés opens much before nine.<br/><br/>

            - George Orwell
        </span>

    </div>
    <a class="next">
        >
    </a>
</section>

<section class="panel ui-game is-hidden">
    <div class="bg ui-pictures">

    </div>

    <div class="t ui-preload">

    </div>


    <div class="t status ui-status is-hidden">
        Please, click to select 10 pictures
        <div class="hearts ui-hearts">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </div>
    </div>

    <div class="t ui-thanks is-hidden">
        Thank you
    </div>
</section>

<section class="panel magnets ui-magnets is-hidden">
    <div class="info">You can drag the images around and remove the ones you do not want by double clicking on them</div>
    <div class="ui share ui-share">
        <a class="button" href="/">
            Restart
        </a>
        <button class="button share">
            Share this result!
        </button>
    </div>
    <div class="ui backgrounds ui-backgrounds">

    </div>
</section>

<div class="end is-hidden">
    <div class="close">X</div>

    <div class="share">
        <p>Share what you have created</p>
        <div class="icons">
            <a class="twitter" target="_blank" href="">Twitter</a>
            <a class="facebook" target="_blank" href="">Facebook</a>
            <a class="link" target="_blank" href="">Permalink</a>
        </div>
        <input class="url" type="text" value="https://foo.com"></div>
    </div>
</div>
