<h1>List of items</h1>
<h2>Total: {{total}}</h2>
<ol>
    {{#each items}}
    <li><a href="http://paraules.midori.ber.to/s/{{id}}" target="_blank">http://paraules.midori.ber.to/s/{{id}}</a></li>
    {{/each}}
</ol>