<section class="panel magnets ui-magnets is-hidden" data-src="{{id}}">

<div class="ui explain">
This postcard was created with <strong>Paraules de Barcelona</strong>.
</div>

<div class="ui ui-create create">
    <a class="button" href="/">
        Create your own
    </a>
</div>
</section>