<section class="panel magnets ui-magnets is-hidden" data-src="{{id}}">

<div class="ui explain">
This is a postcard created using words from barcelona
</div>

<div class="ui ui-create create">
    <a class="button" href="/">
        Create your own
    </a>
</div>
</section>